html {
    height: 100%;
    width: 100%;
  }
  
body {
  background-color: rgb(49, 49, 49);
  text-align: center;
  }

.intro{
    color: white;
    text-align: center;

  }
.star{
    height: 50px;
    width: 50px;
}